<% if logged_in? && current_user.admin? %>
  <div class="row">
    <h2 class="text-center">Become an Owner</h2>
  </div>

  <%= render 'owners/ownererrors' %>
  <%= render 'owners/owner_form' %>
<% end %>