@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

.bttn {
  color: white !important;
  border: 2px solid white;
  margin: 2px;
}

.nav-name {
  color: gold;
  padding-top: 14px;
}