// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Index Page
.descriptionText {
    font-size: 15px;
    font-weight: bold;
}

// Show Page
.todo-show-title {
    font-size: 24px;
    font-weight: bold;
    color: #483D8B;
}

.todo-user-title {
    font-size: 16px;
    font-weight: bold;
    color: #483D8B;
}

.todo-description-text {
    font-size: 14px;
    font-weight: bold;
    color: #483D8B;
}

.blue {
    font-size: 16px;
    color: #483D8B;
}
.todoImage, img {
    width: 50%;
}